/* Formato del fondo y posicionamiento de los elementos de las alertas */

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Formato del mensaje central */

.alertBox {
    width: max-content;
    height: max-content;
    padding: 1vw 2vw;
    background-color: rgba(255, 218, 151, 0.8);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


/* Formato de las filas de alerta */

.alertStyle {
    width: 100%;
    height: 50px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columnDisplay {
    flex-direction: column;
}

.centerAlert {
    justify-content: center;
}


/* Formato del boton de cerrar alerta */

.buttonAlert {
    height: 30px;
    aspect-ratio: 1/1;
    padding: 0px;
    border: 0px;
    margin-left: 5px;
    border-radius: 10%;
    background-color: #ffffff00;
}

.confirmButtonAlert {
    height: max-content;
    width: max-content;
    padding: 5px;
    border: 0px;
    border-radius: 10%;
    background-color: #ffffff00;
}


/* Resize el tamaño de los botones de algunas alertas */

.sizeClose,
.sizeSave,
.sizeDelete {
    height: 20px;
    margin-left: 10px;
}

.buttonAlert:hover {
    filter: invert();
}

.hoverClose:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.hoverGreen:hover {
    background-color: rgba(0, 255, 0, 0.15);
}

.hoverRed:hover {
    background-color: rgba(255, 0, 0, 0.15);
}


/* Style nombre de la alerta */

.nameAlert {
    font-size: 17px;
    margin: 0px;
    font-weight: bold;
    color: rgba(68, 68, 68, 0.726)
}


/* colores del texto en la alerta de texto/imagen no guardado */

.goodColor {
    color: rgba(0, 200, 0, 0.4);
}

.badColor {
    color: rgba(255, 0, 0, 0.4);
}


/* formato de input text */

#nameFile {
    height: 26px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 0px;
}


/* Quitar el focus cuando estoy escribiendo en el input text */

#nameFile:focus {
    outline: none;
}


/* Formato del texto de alerta */

.textAlert {
    color: red;
    margin: 0px;
}