/* Posicion de la cavecera de la aplicación */

.headerContent {
    /* grid header */
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border-radius: 20px 20px 0px 0px;
    /* flex content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding left */
    padding-left: 50px;
    /* background header */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(45px);
}


/* Estilo del texto que indica la app donde nos encontramos */

.appType {
    font-size: 2vh;
    font-weight: bold;
    color: rgb(54, 54, 54);
}


/* Estilo del boton de cerrar la aplicación*/

.closeButton:hover {
    background: #ffffff2d;
    filter: invert();
}

.closeButton {
    height: 60%;
    aspect-ratio: 1;
    border-radius: 15%;
    border: 0px;
    margin-right: 30px;
    background-color: transparent;
    /*Efecto de solapamiento con el fondo */
    mix-blend-mode: soft-light;
}


/* Posición barra de menu de la aplicación */

#menuHeader {
    /* grid menu */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1 / -1;
    /* flex content */
    display: flex;
    justify-content: left;
    align-items: center;
    /* background menu */
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(45px);
}


/* Separación menu búsqueda, para search files y trash*/

.menuSpacing {
    margin: 0px;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    color: #515151;
}


/* Da forma al seleccionar la pestaña del tipo de fichero a buscar 
Para search files y trash*/

.shadowForm {
    height: 100%;
    width: 11vw;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Por defecto el texto es el que estará seleccionado 
Dar más opacidad al elemento seleccionado */

#textShadow {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Posición contenido principal */

#mainConent {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    /* Ajustamos el contenido y lo hacemos dinámico */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Fondo del main content */

.backgroundMain {
    background: rgba(255, 255, 255, 0.567);
    backdrop-filter: blur(45px);
}


/* Posicion barra de memoria */

#memoryStatus {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    /* Ajustamos la barra de memoria en el centro */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Radio inferior izquierdo */
    border-radius: 0px 0px 0px 20px;
}

#memoryBar {
    border-radius: 1vh;
    border: 3px solid white;
    background-color: white;
    mix-blend-mode: soft-light;
    width: 50%;
    height: 3vh;
}


/* Fondo de la parte baja de la página */

.backgroundBottom {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(45px);
}