/* Propiedades de la hoja general */

.container {
    /* El body ocupa todo el espacion visible */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    /* Areas de la página */
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-rows: 5% 4% auto max-content;
    /* Imagen de fondo*/
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    /*Tipografía y posicionamiento de los contenidos dentro del body*/
    font-family: 'Montserrat', sans-serif;
}


/* Posicion de la barra de navegación */

#barLauncher {
    /* Localizamos la barra dentro del grid */
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    /*Hacemos flexible la barra de navegación*/
    display: flex;
    flex-wrap: wrap;
    /* Alinear el texto en el centro */
    justify-content: center;
}


/* Estilo de los botones de aplicaciones */

.appButton {
    /* Tamaño de los botones */
    width: 4vh;
    aspect-ratio: 1/1;
    /* Borde */
    border: none;
    border-radius: 15%;
    /* Margen */
    margin: 15px 7.5px;
    /* Formato */
    mix-blend-mode: overlay;
    background-color: #ffffff99;
}


/* Efecto al poner el raton encima de los botones */

.appButton:hover {
    cursor: pointer;
    filter: invert();
}


/* Colocar las imagenes dentro de su cuadro */

.fitImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* Estilos de los botones pulsados y/o seleccionados 
 Estilo del borde que se ha pulsado*/

.borderAppOpen {
    border-bottom: 4px solid red;
}


/* Estilo del boton en el que nos encontramos */

.backgroundApp {
    background: #c8c8c8;
    filter: invert();
}


/* Posición sección hora y día */

#hourInfo {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    /* Ajustamos la barra de memoria en el centro*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    /* Radio inferior derecho */
    border-radius: 0px 0px 20px 0px;
}


/* Texto de día y hora */

.dayInfo {
    margin-right: 4vw;
    font-size: 2vh;
    color: #c8c8c8;
}

.colorDayInfo {
    mix-blend-mode: color-burn;
}

.hiddenObject {
    display: none;
}

.visibleObject {
    display: flex;
}


/* Overflow del contenedor de ficheros. */

.overflowStyle {
    overflow: auto;
    scrollbar-width: thin;
}