#imageArea {
    width: 100%;
    height: 94%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.box,
.boxBorder {
    border: 1px solid #b1b1b1;
}

.box:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.position {
    position: absolute;
}

#paletteBox {
    position: relative;
    mix-blend-mode: normal;
}

#paletteBox:hover {
    filter: contrast(0%);
}

#paletteInput {
    opacity: 0;
}