#logo {
    margin: 0px;
    font-size: 18vw;
}

#slogan {
    font-size: 4vw;
}

#students {
    font-size: 2vw;
}

.textInfo {
    /* Asignamos el area que va a ocupar el texto */
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    /* Centramos el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linearBackground {
    /*Efecto gradiente en las letras*/
    background: linear-gradient(90deg, #33333399 0%, #b9b9b9 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    mix-blend-mode: color-burn;
}